
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    background: #171717;
}

header {
    background: #171717;
    width: 100%;
    overflow: hidden;
    animation: scale 1.5s ease;
    position: relative;
    display: block;
}

.nav {
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
}

.logo {
    display: flex;
    height: 80px;
    width: 80px;
    fill: #888888;



    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
}

.logo:hover {

    transform: rotate(50deg);

}

.burger {
    display: flex;
    height: 45px;
    width: 45px;
    fill: #888888;
    ;
    margin-right: 15px;
    background-color: unset;}

    .list_menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        color: #888888;
       
       
    
    }
    
    .roster_menu{
      display: block;
      text-align: center;
    font-size: 30px;
    opacity: 60%;
    margin-bottom: 5px;
     }

   
       
    
         .fadeInLeft {
             animation-name: fadeInLeft;
             animation-duration: 4s;
         }
    
         @keyframes fadeInLeft {
             from {
                 opacity: 0;
                 transform: translateX(-1000px);
             }
    
             to {
                 opacity: 1;
                 transform: none;
             }
         }
         .fadeInRight{
            animation-name:fadeInRight;
            animation-duration:4s;
         }
         @keyframes fadeInRight{
            from {
                    opacity: 0;
                    transform: translateX(1000px);
                }
            
                to {
                    opacity: 1;
                    transform: none;
                }
         }

         /* ----------Modal window---------- */


         /* .header-contact{
            position: fixed;
         } */
        .contact{
            
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

        }
         .contact-form{
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            
         }
         .personal-data{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 500px;
            align-items: center;
            position: relative;
         }
         .modal-label{
            width: 50%;
            padding: 10px;
            margin: 14px;
            border-radius: 8px;
            background-color: #050505;
         }

         .modal-input{
            background: #050505;
            color: whitesmoke;
           border-color: #050505;
            border: #050505;
            font-size: 18px;
            outline: #050505;
        }



        .button_submit {
                      width: 20px;
                      height: 10px;
                  }

        /*----------- icon-contact------------- */
      
    .contact-info{
       width: 100%;
       height: 500px;
    
       align-items: center;
       justify-content: center;
        background-image: url(../foto/contact-back.jpg);
        background-position:centr;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        
    }

    .contact-info-content{
    padding-left: 15%;

    }
    .contact-me{
        font-size: 24px;
        font-weight: 400;
        color: whitesmoke;
        padding-left: 25%;
        padding-top: 40px;
    }

        .icon-contact-size{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-top: 40px;
            color: #252525;
        }
.icon-contact-info{
    width: 60px;
    height: 50px;
    padding-right: 15PX;
    fill: #252525;
}