
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    background: #171717;
}

.header-contact{
    background: #171717;
    width: 100%;
    overflow: hidden;
    animation: scale 1.5s ease;
    position: relative;
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
    padding-left: 40px;
}

.nav {
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
}

.logo {
    display: flex;
    height: 80px;
    width: 80px;
    fill: #888888;



    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
}

.logo:hover {

    transform: rotate(50deg);

}

.burger {
    display: flex;
    height: 45px;
    width: 45px;
    fill: #888888;
    ;
    margin-right: 15px;
    background-color: unset;}

    .list_menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        color: #888888;
       
       
    
    }
    
    .roster_menu{
      display: block;
      text-align: center;
    font-size: 30px;
    opacity: 60%;
    margin-bottom: 5px;
     }

   
       
    
         .fadeInLeft {
             animation-name: fadeInLeft;
             animation-duration: 4s;
         }
    
         @keyframes fadeInLeft {
             from {
                 opacity: 0;
                 transform: translateX(-1000px);
             }
    
             to {
                 opacity: 1;
                 transform: none;
             }
         }
         .fadeInRight{
            animation-name:fadeInRight;
            animation-duration:4s;
         }
         @keyframes fadeInRight{
            from {
                    opacity: 0;
                    transform: translateX(1000px);
                }
            
                to {
                    opacity: 1;
                    transform: none;
                }
         }

         /* ----------Contact---------- */
        .container{
            
            height: auto;
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;}
        /* Modal window*/
        .modal_form{
            display: flex;
            flex-direction: column;
            width: 60%;
            padding-right: 40px;
        }
        .form_element{
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .element_modal{
            width: 40%;
            padding: 10px 20px;
            margin: 14px;
            border-radius: 8px;
            outline: none;
            background: #050505;
            border: none;
            color: whitesmoke;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;

        }

        .text_area{
            width: 84%;
                padding: 10px 20px;
                margin: 14px;
                height: 150px;
                border-radius: 8px;
                outline: none;
                background: #050505;
                border: none;
                color: whitesmoke;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 18px;
            resize: none;
        }
        .form_button{
            padding: 8px 24px;
            width: 20%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            color: whitesmoke;
            background: #bb0035;
            opacity: 8;
            margin: 20px;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            transition: all ,4s ,ease;
        }
        .form_button_position{
            display: flex;
            justify-content: center;

        }
        /*----------- icon-contact------------- */
      
    .contact-info{
       width: 40%;
       height: 500px;
    
     
        background-image: url(../foto/contact-back.jpg);
        background-size: cover;
        border-radius: 16px;
        
    }

    .contact-info-content{
    padding-left: 15%;

    }
    .contact-me{
        font-size: 24px;
        font-weight: 400;
        color: whitesmoke;
        padding-left: 25%;
        padding-top: 40px;
    }

        .icon-contact-size{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-top: 40px;
            color: #252525;
        }
.icon-contact-info{
    width: 60px;
    height: 50px;
    padding-right: 15PX;
    fill: #252525;
}