
body {
  
    width: 100%;
    background: #000000;
 }
 header {
     background: #0000;
     width: 100%;
     overflow: hidden;
     animation: scale 1.5s ease;
     position: relative;
     display: block;
 }
 .nav{
 display:flex;
 z-index: 1;
 position: relative;
 justify-content: space-between;
 align-items: center;
} 
.nav{
    list-style: none;
}
.logo{
    display: flex;
    height: 80px;
    width: 80px;
    fill: #888888;
    
    

    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    }
    
.logo:hover {
        
        transform: rotate(50deg);
            
 }

.burger{
    display: flex;
    height: 45px;
    width: 45px;
    fill: #888888;;
    margin-right: 15px;
    background-color:unset;
}
/*----------- section main ---------*/
.main{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
 .my_foto{
    position: absolute;
    top: 0;
    right: 0;
   width: 380px;
    height: 100%;
    
    

 }
.paragraph{
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
   

   
}

h1{
    color: antiquewhite;
    text-align: center;
    font-weight: 700;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 65px;

    }
    

.name{
    color: #c70039;
    
}
h2{
    color: #c70039;
    
    text-align: center;
}
.name_secondline{
    color: antiquewhite;
}

/* ------social contact--------- */
.footer-list{
    position: absolute;
    z-index: 1;
    top: 200px;
    list-style: none;

}
.social{
    display: flex;    
    
    
    
    padding-bottom: 20px;

}
.social__icon{
    width: 30px;
    height: 30px;
    fill: #888888;
    margin-left: 25px;
}


.social__icon:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        box-shadow:
                1px 1px #1f1f1f,
                6px 6px #1f1f1f,
                2px 2px #1f1f1f,
                3px 3px #1f1f1f,
                4px 4px #1f1f1f,
                5px 5px #1f1f1f,
                7px 7px #1f1f1f;
            -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
    cursor: pointer;
}


/* animation backgraund */

#rotation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 5%;
   
    
   
}




